@import 'config/mixins.scss';


@include desktop {   
  .sky{

    &-header{
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #f1f2fa;
      padding: 15px;

      &__options{
        cursor: pointer;
        &-icon{
          cursor: pointer;
        }
      }
    }
  }
}
