@import 'config/mixins.scss';

@include full-desktop {
  body{
    transition: .4s;
    .sky{
      &-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #f1f2fa;
        padding: 15px;
        transition: .4s;
        
        &__mobile{
          display: none;
        }

        &__options{
          cursor: pointer;
          color: #5A5F6A;
          font-size: 1rem;
  
          &-icon{
            cursor: pointer;
            color: #5A5F6A;
          }
  
          &-short{
            border: solid 1px #fff;
            border-radius: 50%;
            padding: 5px;
            background-color: #fff;
          }
  
          .fa{
            color: #5A5F6A;
          }
        }
  
        &__navigation{
          &-list{
            display: flex;
            flex-direction: row;
            box-shadow: 0 10px 8px -4px rgba(0, 0, 0, 0.25);
            &-item{
              width: 33%;
              text-align: center;
              list-style-type: none;
              font-size: 1rem;
              cursor: pointer;
              padding: 15px;
              border-bottom: solid 5px #fff;
  
              &.is--active{
                transition: .4s;
                border-bottom: solid 5px #f00;
                color: #f00;
                font-weight: 500;
              }
            }
          }
        }
  
        > div{
          + div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .sky{
              &-header{
                &__options{
                  margin: 0 15px;
                  font-size: 1rem;
                  -webkit-touch-callout: none;
                  -webkit-user-select: none; 
                  -khtml-user-select: none; 
                  -moz-user-select: none;
                  -ms-user-select: none; 
                  user-select: none; 
                  .fa{
                    &:hover{
                      &::before{
                        transition: .2s;
                        opacity: 0.5;
                      }
                    }
                  }
                }
              }
            }
          }
          &:last-child{
            .sky{
              &-header{
                &__options{
                  margin: 0 15px;
                }
              }
            }
          }
        }
      }
  
      &-main{
        padding: 40px 0 0 0;
        &__highlights{
          height: 350px;
          position: relative;
  
          &.owl{
            &-stage{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }
          }
  
          .owl-stage-outer{
            .owl-stage{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              cursor: pointer;
  
              .owl-item{
                /* important utilizado para sobrescrever o css inline, aplicado pelo script de slider.*/
                width: 9% !important;
  
                > img {
                  border-radius: 10px;
                }
  
                &.active{
                  &.center{
                    /* important utilizado para sobrescrever o css inline, aplicado pelo script de slider.*/
                    transition: width .7s;
                    width: 10% !important;
                  }
                }
              }
            }
  
            
          }
  
          .owl-dots{
            margin: 0 auto;
            width: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            transform: translate(50%);
            right: 50%;
            bottom: -70px;
  
              .owl-dot{
                width: 20px;
                height: 5px;
                border-radius: 5px;
                background-color: #8F969A;
  
                &.active{
                  background-color: #F35C58;
                }
              }
          }
  
          .owl-nav{
            width: 100%;
            position: absolute;
            top: 50%;
  
            .owl-prev{
              position: absolute;
              left: 0;
              width: 54px;
              height: 54px;
              border-radius: 50%;
              background-color: rgba(0,0,0,0.6);
              z-index: 10;
              color: #fff;
            }
  
            .owl-next{
              position: absolute;
              right: 0;
              width: 54px;
              height: 54px;
              border-radius: 50%;
              background-color: rgba(0,0,0,0.6);
              z-index: 10;
              color: #fff;
            }
          }
  
  
        }
  
        &__portrait{
          background-color: #FAFAFF;
          padding: 0 0 0 30px;
          transition: .4s;
          margin: 100px 0 0 0;
          &-article{
            padding: 15px 0;
          }
          &-title{
            font-size: 1.375rem;
            font-weight: bold;
            margin: 0 0 16px 0;
            transition: .4s;
          }
          &-movie{
            position: relative;
            overflow: hidden;
  
            img{
              border-radius: 5px;
            }
  
            .owl{
              &-item{
                max-width: 170px;
                &__group{
                  position: relative;
                  cursor: pointer;
                  .fa{
                    border: solid 2px #fff;
                    border-radius: 50%;
                    padding: 7px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    color: #fff;
                    background-color: rgba(0,0,0,0.5);
  
                    &::before{
                      font-size: 1.125rem;
                    }
                  }
                }
              }
              &-nav{
                position: absolute;
                top: 50%;
                width: 100%;
                transition: .4s;
                opacity: 0;
                
                .owl-prev{
                  position: absolute;
                  left: -23px;
                  padding: 25px;
                  border-radius: 50%;
                  background-color: #242a2c;
                  opacity: 1;
  
                  .fa{
                    color: #fff;
                    position: relative;
                    left: 10px;
                  }
  
                  &.disabled{
                    transition: .4s;
                    opacity: 0.5;
                  }
                }
                .owl-next{
                  position: absolute;
                  right: -23px;
                  padding: 25px;
                  border-radius: 50%;
                  background-color: #242a2c;
                  opacity: 1;
  
                  .fa{
                    color: #fff;
                    position: relative;
                    right: 10px;
                  }
  
                  &.disabled{
                    transition: .4s;
                    opacity: 0.5;
                  }
                }
              }
            }
  
            &.owl{
              &-carousel{
                &:hover{
                  .owl{
                    &-nav{
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
  
      &-footer{
        background-color: #F1F2FA;
        border-top: 1px solid rgba(80, 80, 80, 0.15);
        
        &__options{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          &-logo{}
          &-social{
            &-media{
              margin: 0 10px;
              cursor: pointer;
              &::before{
                font-size: 1.5rem;
                color: #616164;
                transition: .4s;
              }
              &:hover{
                &::before{
                  color: #DB524F;
                  transition: .4s;
                }
              }
            }
          }
        }
  
        &__institutional{
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          padding: 20px;
          border-top: 1px solid rgba(80,80,80,0.15);
          
          &-app{
            display: flex;
            width: 40%;
            &-title{
              margin: 0 20px;
            }
            &-img{
              width: 48px;
              height: 48px;
            }
            &-stores{
              margin: 15px 0;
              display: flex;
              &-available{
                margin: 0 10px;
                
                &:hover{
                  cursor: pointer;
                }
  
                &:first-child{
                  margin-left: 0;
                }
              }

              &-img{
                width: 200px;
                margin: 0 15px;

                &:first-child{
                  margin: 0 15px 0 0;
                }

                a{
                  &:hover{
                    svg{
                      g{
                        path{
                          fill: #DB524F;
                          transition: .2s;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
  
          &-about{
            &-title{
              font-weight: bold;
              color: rgba(0, 0, 0, 0.38);
              font-size: 1.125rem;

              + svg{
                display: none;
              }
            }
            &-list{
              &-item{
                list-style-type: none;
                padding: 20px 0 0 0;
                a{
                  text-decoration: none;
                  color: rgba(0, 0, 0, 0.87);
                  transition: .4s;
  
                  &:hover{
                    color: #782D2B;
                  }
                }
              }
            }
            + div{
              margin: 20px 0 0 0;
            }
          }
  
          &-helper{
            &-title{
  
            }
          }
  
          &-flex{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 60%;
  
            &-options{
              strong{
                > ul{
                  margin-top: 15px;
                  &:hover{
                    color: rgba(0,0,0,0.87);
                    opacity: 0.8;
                  }
                }
              }
            }
          }
        }
  
        &__sub{
          &-menu{
            &-list{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              padding: 15px 50px;
              background-color: #fff;
              &-item{
                list-style-type: none;
                &::after{
                  content: '|';
                  margin: 0 15px;
                }
  
                &:last-child{
                  &::after{
                    display: none;
                  }
                }
  
                span{
                  &:hover{
                    transition: .4s;
                    color: #DB524F;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
  
        &__copyright{
          color: rgba(0, 0, 0, 0.6);
          font-size: 0.875rem;
          padding: 20px;
          text-align: center;
        }
      }
    }

    .menu{
      &-mobile{
        &-options{
          display: none;
        }
      }
    }

    .modal{
      &-search{
          position: fixed;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #F5F5FA;
          z-index: 100;
          left: -100%;
          transition: .4s;
          opacity: 0.9;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        &__btn{
          &-close{
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            &-img{
              cursor: pointer;
              &::before{
                font-size: 2rem;
                color: #B4BDCB;
                padding: 10px;
                border-radius: 50%;
                background-color: #808084;
              }
            }

            + div{
              width: 30%;
              position: relative;
              
              .fa{
                position: absolute;
                bottom: 10%;
                font-size: 2rem;
                left: 10px;
                cursor: pointer;
              }
            }
          }
        }

        &.is--active{
          transition: .4s;
          left: 0;
        }

        &__input{
          margin: 30px 0 0 0;
          width: 100%;
          padding: 15px 50px;
          cursor: pointer;
          border-radius: 50px;
          box-shadow: 0 10px 8px -4px rgba(0,0,0,0.25);
          border: solid 1px #808080;
          font-weight: bold;
          color: #000;
        }
      }
    }
  }   

  .dark-theme{
    background-color: #32383A;
    transition: .4s;

    .sky{
      &-header{
        background-color: #32383A;
        transition: .4s;
        border-bottom: 1px solid rgba(238, 238, 238, 0.15);
        &__navigation{
          &-list{
            &-item{
              color: #999C9D;
              border-bottom: solid 5px #32383A;
            }
          }
        }

        &__options{
          color: #999C9D;
          
          &-short{
            background-color: #242a2c;
            border: solid 1px #242a2c;
          }

          .fa{
            color: #C1C6C0;
          }

          &-icon{
            color: #C1C6C0;
          }
        }
      }

      &-main{
        &__portrait{
          background-color: #32383A;
          transition: .4s;
          &-title{
            color: #EEEEEE;
            transition: .4s;
          }
        }
      }

      &-footer{
        transition: .4s;
        background-color: #32383A;

        &__sub{
          &-menu{
            &-list{
              background-color: #242A2C;
              color: #fff;
            }
          }
        }

        &__options{
          svg{
            g{
              g{
                fill: #C2C3C4;
              }
            }
          }
          &-social{
            i{
              &::before{
                color: rgba(255, 255, 255, 0.7);
              }
            }
          }
        }

        &__institutional{
          &-app{
            &-title{
              &-strong{
                color: #C2C4C5;
              }
            }
            &-stores{
              &-img{
                a{
                  svg{
                    g{
                      path{
                        transition: .4s;
                        fill: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
          &-about{
            &-title{
              color: #999C9A;
            }
            &-list{
              &-item{
                a{
                  color: #fff;
                  &:hover{
                    color: #DB524F;
                  }
                }
              }
            }
          }
        }

        &__copyright{
          color: rgba(255, 255, 255, 0.7);
          text-align: center;
        }
      }
    }

    .modal{
      &-search{
        background-color: #32383a;
        opacity: 0.9;
        &__btn{
          &-close{
            &-img{
              &::before{
              }
            }

            + div{
              
              .fa{
              }
            }
          }
        }

        &.is--active{
          
        }

        &__input{
          font-weight: bold;
        }
      }
    }
  }
}
