$primary-color: #F1F2FB;
$second-color: #FAFAFF;

$third-color: #616161;
$forth-color: #80bdb8;

$border-color: #E2E2E2;

$desktop-space: 80%;
$mobile-space: 90%;

$font-primary:'Open Sans', sans-serif;